azure-ai-documentintelligence==1.0.2
pandas==2.2.2
pathlib==1.0.1
pymupdf==1.26.3
tools==1.0.2
python-dotenv==1.1.1
langchain_openai==0.3.28
rapidfuzz
langchain_community==0.3.27
chromadb==1.0.16
azure-identity==1.24.0
azure-search-documents==11.5.3
dotenv
langchain_tavily==0.2.11
langgraph-checkpoint-sqlite==2.0.11
